<helmet>
<script src="../_runtime/ds-base.js">
</script>
</helmet>
<div class="tw:bg-muted tw:min-h-screen">
<div class="vf-shell-container tw:mx-auto tw:bg-page tw:text-body tw:font-body tw:min-h-screen tw:flex tw:flex-col vf-page tw:[container-type:inline-size] tw:[--vf-shopping-width:var(--container-max)] tw:[--vf-form-width:1088px] tw:[--vf-info-width:1088px]" data-vf-preview="{{ previewMobile }}" data-tenant="{{ tenant }}" lang="{{ lang }}" dir="{{ dir }}" data-lang="{{ lang }}" data-vf-mobile="{{ mob }}">
<x-import component-from-global-scope="VendraDesignSystem_f4f210.SkipLink" href="#main" on-click="{{ skipGo }}" hint-size="0px,0px">{{ t.skip }}</x-import>
<sc-if value="{{ standalone }}" hint-placeholder-val="{{ true }}">
<x-import component-from-global-scope="VendraDesignSystem_f4f210.LiveRegion" hint-size="0px,0px">{{ vfAnnouncement }}</x-import>
</sc-if>
<sc-if value="{{ announcement }}" hint-placeholder-val="{{ true }}">
<x-import component-from-global-scope="VendraDesignSystem_f4f210.AnnouncementBar" label="{{ t.news }}" close-label="{{ t.dismissNews }}" on-close="{{ closeAnnouncement }}" hint-size="100%,44px">{{ announcement }}</x-import>
</sc-if>
<sc-if value="{{ desk }}" hint-placeholder-val="{{ true }}">
<!-- DESKTOP_HEADER -->
</sc-if>
<sc-if value="{{ mob }}" hint-placeholder-val="{{ false }}">
<!-- MOBILE_HEADER -->
</sc-if>
<!-- MOBILE_MENU -->
<div class="vf-shell-content tw:flex-1">
<!-- PAGE_CONTENT -->
</div>
<!-- FOOTER -->
<sc-if value="{{ consent.desk }}" hint-placeholder-val="{{ false }}">
<div class="vf-shell-consent-dock tw:fixed tw:bottom-6 tw:start-6 tw:z-toast tw:max-w-[420px]">
<!-- CONSENT -->
</div>
</sc-if>
<sc-if value="{{ mob }}" hint-placeholder-val="{{ false }}">
<div class="vf-shell-bottom-bar tw:sticky tw:bottom-0 tw:z-tabbar">
<sc-if value="{{ consent.mob }}" hint-placeholder-val="{{ false }}">
<div class="vf-shell-consent-dock tw:px-3 tw:pb-3">
<!-- CONSENT -->
</div>
</sc-if>
<!-- STICKY_CONTENT -->
<x-import component-from-global-scope="VendraDesignSystem_f4f210.BottomTabBar" items="{{ tabs }}" label="{{ t.mainNav }}" hint-size="100%,64px">
</x-import>
</div>
</sc-if>
</div>
</div>
